// Link to Figma Prototype: https://www.figma.com/file/ubkjHeHkAuyMJCBNsLHlMp/Untitled?node-id=2%3A2

@import 'mixins.scss';

//Setup styles: remove all margins and set base font styles
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: $dark;
}

body{
    @include flex($direction:column);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    nav{
        @include flex($align: center, $justify:space-between);
        height: 3em;
        padding: 0.75em;
        background: $faint;
        *{height: 100%}
    
        .menu{
            @include flex($align:center);
            font-size: 1.5em;
        }
    }

    main{
        flex-grow: 1;
        position: relative;

        >div{
            position: absolute;
            height: 100%;
        }
        .intro{
            @include flex($direction: column, $justify:center, $align:center);
            gap: 2em;
            padding: 3.5em;
            h1{
                font-size: 1.6em;
                text-align: center;
                font-weight: 400;
            }
            button{
                width: 100%;
                font-size: 1.25em;
                margin-bottom: 5em;
                @include button-1;
            }
        }
    }

    aside{
        position: fixed;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        transform: translateY(100%);
        transition: all 150ms ease-in-out;
        background: white;

        &.displayed{
            transform: translateY(0);
        }

        &.new-post{
            #images-preview{
                @include flex();
                gap: 1em;
                li{
                    border-radius: 5em;
                    img{
                        max-height: 10em;
                    }
                    .remove{
                        
                    }
                }
            }
        }
    }
}


